.falconsection {
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.section21 {
  background-image: url(../images/falcon9/f9_feature.jpg);
}

.numbers-count {
  width: 100vh;
  height: 40vh;
}

.textfalconcenter {
  font-size: 100px;
  font-weight: 800;
}

.subtextfalconcenter {
  font-size: 20px;
  font-weight: 600;
}

.textnumberbig {
  font-size: 140px;
  font-weight: 400;
}

.textnumbersmall {
  font-size: 22px;
  font-weight: 550;
  font-variant-caps: all-petite-caps;
}

.section22 {
  background-image: url(../images/falcon9/02.jpg);
}

.falconsection2 {
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
}

.textfalconside {
  font-size: 20px;
  font-weight: 600;
}

.section23 {
  background-image: url(../images/falcon9/03.jpg);
}

.section24 {
  background-image: url(../images/falcon9/04.jpg);
}

.section25 {
  background-image: url(../images/falcon9/05.jpg);
}

.section26 {
  background-image: url(../images/falcon9/06.jpg);
}

.section27 {
  background-image: url(../images/falcon9/07.jpg);
}

.section28 {
  background-image: url(../images/falcon9/08.jpg);
}

.section29 {
  background-image: url(../images/falcon9/09.jpg);
}

.section211 {
  background-image: url(../images/falcon9/10.jpg);
}

.section212 {
  background-image: url(../images/falcon9/11.jpg);
}

.section213 {
  background-image: url(../images/falcon9/12.jpg);
}

.section214 {
  background-image: url(../images/falcon9/13.jpg);
}

.section215 {
  background-image: url(../images/falcon9/14.jpg);
}

.falconsection3 {
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
}

.flushhr {
  opacity: 1;
}

.flushtable {
  padding: 0px 20vh;
}

.flushitem {
  background-color: transparent;
  border: 0px solid transparent;
  padding: 0px 0px;
  justify-items: space-between;
}

.flushdetail {
  color: grey;
  font-weight: 550;
}

.textstart {
  text-align: start;
  font-weight: 750;
  font-style: normal;
}

.textend {
  text-align: end;
}

.tabletitle {
  width: 100%;
  text-align: left;
  padding: 0px 20vh;
}

.containercarousel {
  margin-top: 85vh;
  height: 15vh;
  position: absolute;
  background-color: black;
}

.falconsection4 {
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
}

.footerfalcon {
  height: 60vh;
}

.btnfalcon {
  border-radius: 0px;
  border: 2px solid white;
  padding: 13PX 13PX;
  font-size: 13PX;
  font-weight: 700;
}

.footerline {
  margin: -8px 0px;
  padding: 0px 0px;
}

.footertextfalcon {
  color: grey;
}

.footerlinetop {
  margin-top: 10vh;
}

.controldown {
  position: absolute;
  margin-top: 80vh;
}

@media (max-width: 1000px) {
  .textnumberbig {
    font-size: 70px;
  }
  .textnumbersmall {
    font-size: 14px;
  }
  .flushtable {
    padding: 0px 10vh;
  }
  .tabletitle {
    padding: 0px 10vh;
  }
  .containercarousel {
    margin-top: 80vh;
    height: 20vh;
  }
}
@media (max-width: 850px) {
  .falconsection2 {
    align-items: center;
  }
  .flushtable {
    padding: 0px 5vh;
  }
  .tabletitle {
    padding: 0px 5vh;
  }
}
@media (max-width: 520px) {
  .textfalconcenter {
    font-size: 50px;
  }
  .containercarousel {
    margin-top: 75vh;
    height: 25vh;
  }
  .tabletitle {
    padding: auto auto;
    text-align: center;
  }
  .subtextfalconcenter {
    font-size: 14px;
  }
  .textfalconside {
    font-size: 14px;
  }
  .textnumberbig {
    font-size: 42px;
  }
  .textnumbersmall {
    font-size: 13px;
  }
}
@media (max-width: 360px) {
  .containercarousel {
    margin-top: 67vh;
    height: 33vh;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

.headermain {
  display: flex;
  gap: 10px;
  margin-left: 31.5vh;
}

.icontoggler {
  margin: 0px;
  border: 0px solid transparent;
}
.icontoggler:focus {
  box-shadow: none;
}

.iconstyle {
  color: white;
  font-size: 24px;
}

.logo {
  margin-top: 25px;
  height: 15px;
  margin-left: 20px;
}

.logonav {
  margin: auto auto;
  height: 40px;
}

.btnheader {
  font-weight: 650;
  border: 2px solid transparent;
  transition: 0.4s;
  color: white;
  text-decoration: none;
  height: fit-content;
  padding-top: 30px;
  font-size: 13px;
}
.btnheader:hover {
  color: white;
  border-bottom: 2px solid white;
}

.section {
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}

.section1 {
  background-image: url("/images/home/Homepage_Desktop.webp");
}

.section2 {
  background-image: url("/images/home/Homepage_Desktop2.webp");
}

.section3 {
  background-image: url("/images/home/S20_Chopstick_Stack_Desktop.webp");
}

.section4 {
  background-image: url("/images/home/hls-resized-2.webp");
}

.mainpagetext {
  padding-bottom: 17vh;
  margin-left: 31.5vh;
}

.h3land {
  font-weight: 380;
  font-size: 20px;
}

.h1land {
  font-weight: 600;
  font-size: 46px;
  margin-top: -10px;
  max-width: 56vh;
}

.btnland {
  margin-top: 20px;
  border-radius: 0px;
  border: 2px solid white;
  transition: 0.4s;
  color: white;
  width: 160px;
  height: 50px;
  padding: auto auto;
  font-size: 14px;
  font-weight: bold;
}
.btnland:hover {
  border: 2px solid white !important;
  background-color: white !important;
  color: black !important;
}

.arrowdown {
  height: 60px;
  margin: 0px;
  padding: 0px;
}

.arrowposition {
  margin-top: -60px;
}

.mainfooter {
  background-color: black;
  color: white;
  height: 11.3vh;
  font-size: 14px;
  font-variant: all-Small-caps;
}

.footeralign {
  display: flex;
  gap: 5px 30px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.footertextsimple {
  color: grey;
  margin-top: 15px;
}

.btnfooter {
  font-weight: 650;
  transition: 1s;
  color: white;
  text-decoration: none;
  height: fit-content;
  font-size: 14px;
}
.btnfooter:hover {
  color: grey;
}

@media (max-width: 840px) {
  .mainpagetext {
    margin-left: 15vh;
  }
  .headermain {
    margin-left: 7vh;
  }
  .footeralign {
    gap: 5px 10px;
  }
}
@media (max-width: 680px) {
  .btnfooter {
    font-size: 10px;
  }
}
@media (max-width: 425px) {
  .headermain {
    margin: auto auto;
  }
  .navposition {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-content: center;
    justify-content: center;
  }
  .mainpagetext {
    margin-left: 7vh;
  }
  .headermain {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-self: center;
  }
  .h3land {
    font-weight: 380;
    font-size: 10px;
  }
  .h1land {
    font-weight: 600;
    font-size: 25px;
    margin-top: -10px;
    max-width: 56vh;
  }
  .footeralign {
    gap: 7px;
  }
}

/*# sourceMappingURL=style.css.map */
