*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: black;
  color: white;
}

.headermain{
  display: flex;
  gap: 10px;
  margin-left: 31.5vh;
}

.icontoggler{
  margin:0px;
  border: 0px solid transparent;
  
  &:focus{
    box-shadow: none;
  }
}

.iconstyle{
  color: white;
  font-size: 24px;
}

.logo{
  margin-top: 25px;
  height: 15px;
  margin-left: 20px;
}

.logonav{
  margin: auto auto;
  height: 40px;
}

.btnheader{
  font-weight: 650;
  border: 2px solid transparent;
  transition: 0.4s;
  color: white;
  text-decoration: none;
  height: fit-content;
  padding-top: 30px;
  font-size: 13px;

  &:hover{
    color:white;
    border-bottom: 2px solid white;
  }
}

.section{
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}

.section1{
  background-image: url("/images/home/Homepage_Desktop.webp");
}

.section2{
  background-image: url("/images/home/Homepage_Desktop2.webp");
}

.section3{
  background-image: url("/images/home/S20_Chopstick_Stack_Desktop.webp");
}

.section4{
  background-image: url("/images/home/hls-resized-2.webp");
}

.mainpagetext{
  padding-bottom: 17vh;
  margin-left: 31.5vh;
}

.h3land{
  font-weight: 380;
  font-size: 20px;
}

.h1land{
  font-weight: 600;
  font-size: 46px;
  margin-top: -10px;
  max-width: 56vh;
}

.btnland{
  margin-top: 20px;
  border-radius: 0px;
  border: 2px solid white;
  transition: 0.4s;
  color: white;
  width: 160px;
  height: 50px;
  padding: auto auto;
  font-size: 14px;
  font-weight: bold;

  &:hover{
    border: 2px solid white !important;
    background-color: white !important;
    color: black !important;
  }
}

.arrowdown{
  height: 60px;
  margin: 0px;
  padding: 0px;
}

.arrowposition{
  margin-top: -60px;
}

.mainfooter{
  background-color: black;
  color: white;
  height: 11.3vh;
  font-size: 14px;
  font-variant: all-Small-caps;
}

.footeralign{
  display: flex;
  gap: 5px 30px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.footertextsimple{
  color:grey;
  margin-top: 15px;
}

.btnfooter{
  font-weight: 650;
  transition: 1s;
  color: white;
  text-decoration: none;
  height: fit-content;
  font-size: 14px;

  &:hover{
    color: grey;
  }
}

@media (max-width:840px){
  .mainpagetext{
  margin-left: 15vh;
}

.headermain{
  margin-left: 7vh;  
}

.footeralign{
  gap: 5px 10px;
}
}

@media (max-width:680px){
.btnfooter{
  font-size: 10px;
}
}

@media (max-width:425px){

.headermain{
  margin: auto auto;
}

.navposition{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-content: center;
  justify-content: center;
}

  .mainpagetext{
  margin-left: 7vh;
}

.headermain{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.h3land{
  font-weight: 380;
  font-size: 10px;
}

.h1land{
  font-weight: 600;
  font-size: 25px;
  margin-top: -10px;
  max-width: 56vh;
}

.footeralign{
  gap: 7px;
}

}